
:root {
    --primary-background: #fef4ff;
    --chrome-background: #74e386;
    --chrome-background-opaque: #e374c2d1;
    --secondary-background: #b1c99b;
    --text-color: #32363F;
    --accent-light: #74ed11;
    --accent-dark: #18c29d;
    
    --gutter: 30px;
}

body {
    /* style */
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 1fr auto;

}



header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--chrome-background);
    box-shadow: 3px 10px 20px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    overflow-y: auto;
}


footer {
    background-color: var(--chrome-background-opaque);
    padding: 30px var(--gutter);
    align-self: stretch;
}

.hidden {
    display: none;
}